<h2>編集</h2>

<%= form_with model: current_user, local: true do |f|%>
  
  <div class="field">
    <%= f.label :nicname %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "トップページに戻る", root_path %>