<header class="header">
  <div class="inner">
    <div class="header-upper">
      <div class="user_name"><%= @user.nickname %></div>
      <div class="menu" id="menus">menu</div>
    </div>
    <ul class="show-menus hidden" id="pull-down">
      <li><%= link_to '投稿する', new_item_path %></li>
      <li>編集する</li>
      <li>削除する</li>
      <li>ログアウト</li>
      <li>ユーザー情報編集</li>
    </ul>
    <div class="header-bottom">
    </div>
  </div>
</header>

<main class="main">
  <div class="inner">
    <div class="item-wrapper">
      <% @items.each do |item| %>
      <div class="item">
        <%= image_tag item.image.variant(resize:'200x200'), class: 'item-image' %>
        <div class="item-body">
          <h2 class="unit-price">単価：<%= item.unit_price %>円</h2>
          <% item.tags.each do |tag| %>
          <p>#<%= tag.name %></p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</main>

<footer class="footer"> 
   <p class="copyright">Copyright © 2020 MorihisaT All rights reserved.</p>
</footer>