<%= form_with model: @item, url: items_path, class:'form_wrap', local: true do |f| %>
  <div class='item-form'>
    <div class='image-field'>
      <%= f.label :image, "画像" %>
      <%= f.file_field :image %>
    </div>
    <div class='price-field'>
      <%= f.label :price, "金額" %>
      <%= f.text_field :price %>
    </div>
    <div class='number-field'>
      <%= f.label :number, "個数" %>
      <%= f.text_field :number %>
    </div>
    <div class='unit-price-field'>
      <%= f.label :unit_price, "単価" %>
      <%= f.text_field :unit_price %>
    </div>
    <div class='tag-field', id='tag-field'>
      <%= f.label :name, "タグ" %>
      <%= f.text_field :name %>
    </div>
    <div class='text-field'>
      <%= f.label :text, "メモ" %>
      <%= f.text_field :text %>
    </div>
  </div>
  <div class="submit-post">
    <%= f.submit "登録する" %>
  </div>
<% end %>
