<header class="header">
  <div class="inner">
    <div class="header-upper">
      <div class="user_name"><%= link_to @item.user.nickname, user_path(current_user.id) %></div>
      <div class="menu" id="menus">menu</div>
    </div>
    <ul class="show-menus hidden" id="pull-down">
      <% if @item.user_id == current_user.id %>
      <li><%= link_to '削除する', item_path(@item), method: :delete %></li>
      <% end %>
      <li><%= link_to '共有スペースに戻る', share_items_path %></li>
    </ul>
    <div class="header-bottom">
    </div>
  </div>
</header>

<main class="main">
  <div class="inner">
    <div class="item-container-show">
      <div class="item-image-show"><%= image_tag @item.image.variant(resize:'300x300') %></div>
      <div class="item-price-show">金額：<%= @item.price %>円</div>
      <div class="item-unit-price-show">単価：<%= @item.unit_price %>円</div>
      <% @item.tags.each do |tag| %>
      <div class="item-tag-show">タグ：#<%= tag.name %></div>
      <% end %>
      <div class="item-text-show">メモ：<%= @item.text %></div>
    </div>
  </div>
  <div class="comments-container">
    <p>----------------------------------------------------------</p>
    <%= form_with(model: [@item, @comment], local:true, class: "comment-form") do |f| %>
      <%= f.text_area :text, placeholder: "コメントする", rows: "2"%>
      <%= f.submit "SEND" %>
    <% end%>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>----------------------------------------------------------</p>
          <p><%= comment.user.nickname %>  ：  <%= l comment.created_at %></p>
          <p><%= comment.text %></p>
          <p><%= link_to 'コメント削除', item_comment_path(comment.item.id, comment.id), method: :delete %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</main>

<footer class="footer"> 
   <p class="copyright">Copyright © 2020 MorihisaT All rights reserved.</p>
</footer>